<div data-ng-controller="employeeController" class="container" data-ng-init="loadData()">

    <div class="row">
        <H3>Сотрудники</H3>
    </div>
    <div class="row">
        <H4>Фильтры:</H4>
        <div class="col-lg-1">
            <label>Фамилия</label>
        </div>
        <div class="col-lg-3">
            <input type="text" class="form-control" data-ng-model="filterParams.lastName">
        </div>
        <div class="col-lg-1">
            <label>Имя</label>
        </div>
        <div class="col-lg-3">
            <input type="text" class="form-control" data-ng-model="filterParams.firstName">
        </div>
        <div class="col-lg-1">
            <label>Отчество</label>
        </div>
        <div class="col-lg-3">
            <input type="text" class="form-control" data-ng-model="filterParams.middleName">
        </div>
    </div>
    <div class="row">

        <div class="col-lg-2">
            <label>Дата рождения с</label>
        </div>
        <div class="col-lg-2">
            <input class="form-control" type="date" data-ng-model="filterParams.startDate">
        </div>
        <div class="col-lg-2">
            <label>по</label>
        </div>
        <div class="col-lg-2">
            <input class="form-control" type="date" data-ng-model="filterParams.endDate">
        </div>
        <div class="col-lg-1">
            <label>Должность</label>
        </div>
        <div class="col-lg-3">
            <select class="form-control" data-ng-model="filterParams.positionId">
                <option></option>
                <option data-ng-repeat="position in positions | orderBy: 'position.positionName'"
                        value="{{position.id}}">{{position.positionName}}
                </option>
            </select>
        </div>
    </div>

    <div class="row vertical-align">
        <div class="col-lg-4"></div>
        <div class="col-lg-3">
            <label>Количество записей на странице</label>
        </div>
        <div class="col-lg-1">
            <input type="number" class="form-control" step="1" min="1" data-ng-model="filterParams.rowCount">
        </div>
        <div class="col-lg-1">
            <label>Страница</label>
        </div>
        <div class="col-lg-1">
            <input type="number" class="form-control" step="1" min="1" data-ng-model="filterParams.pageNumber">
        </div>
        <div class="col-lg-1">
            <p> из {{totalPageCount}}</p>
        </div>
        <div class="col-lg-1">
            <button class="btn btn-success" data-ng-click="loadEmployees()">Применить</button>
        </div>
    </div>

    <div class="row">
        <H3>Сотрудники</H3>
    </div>
    <div class="row"></div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Должность</th>
            <th>Дата рождения</th>
        </tr>
        </thead>
        <tbody data-ng-repeat="employee in employees">
        <tr>
            <td>{{employee.lastName}}</td>
            <td>{{employee.firstName}}</td>
            <td>{{employee.middleName}}</td>
            <td>{{employee.position.positionName}}</td>
            <td>{{employee.birthdayDate}}</td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-2">
            <button class="btn btn-success" data-ng-click="getPreviousPage()" data-ng-disabled="!isHavePreviousPage">Предыдущая страница</button>
        </div>
        <div class="col-lg-2 col-lg-offset-8">
            <button class="btn btn-success" data-ng-click="getNextPage()" data-ng-disabled="!isHaveNextPage">Следующая страница</button>
        </div>
    </div>
</div>